.btn {
    border: 0;
    outline: none;
    padding: 0;
    font-size: 1.5rem;
}

.btn--edit {
    color: green;
}

.btn--delete {
    color: red;
}

.info {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 4px;
    visibility: hidden;
    transition: .3s ease-in-out;
    height: 3rem;
    border: 1px solid black;
}

.info--success {
    border: 1px solid green;
    visibility: visible;
}

.info--error {
    border: 1px solid red;
    visibility: visible;
}

.far {
    pointer-events: none;
}
